<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .center-container {
            height: 100%;
        }
    </style>
</head>

<body>
    <div style="display: flex; justify-content: center; align-items: center;"> <img
            src="https://cdn.dribbble.com/users/2446730/screenshots/5367956/media/d74f8c28748638515a3f830173d6739e.gif"
            alt="500" style="height: auto; width: auto;">

    </div>
    <div style="display: flex;justify-content: center; align-items: center; margin-top: 40px;">
        <button onclick="window.location.href='/'"
            style="padding: 10px 20px; font-size: 16px; color: white; background-color: #007BFF; border: none; border-radius: 5px; cursor: pointer;">
            Regresar al inicio
        </button>
    </div>


</body>

</html>